<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" thread-count="1"
	parallel="tests" verbose="4">

	<listeners>
		<listener
			class-name="com.qa.api.listener.ExtentReportListener" />

	</listeners>

	<test name="GoRest Test">
		<parameter name="baseURI" value="https://gorest.co.in" />
		<classes>
			<class name="com.qa.api.tests.GoRestTest" />
		</classes>
	</test>
	
	<test name="Product Test">
		<parameter name="baseURI" value="https://fakestoreapi.com" />
		<classes>
			<class name="com.qa.api.tests.ProductAPITest" />
		</classes>
	</test>


	<test name="Amadeus Flight Booking Test">
		<parameter name="baseURI"
			value="https://test.api.amadeus.com" />
		<parameter name="clientId"
			value="TAnRnsU5lASXZ8mPGdwRQZMoQzhu6Gwv" />
		<parameter name="clientSecret" value="VjjgfcJilNAzcSJw" />
		<parameter name="clientCredentials"
			value="client_credentials" />

		<classes>
			<class name="com.qa.api.tests.AmadeusFlightAPITest" />
		</classes>
	</test>


<!-- 	<test name="ReqRes Test">
		<parameter name="baseURI" value="https://reqres.in" />
		<classes>
			<class name="com.qa.api.tests.ReqResTest" />
		</classes>
	</test> -->
	
	

	<test name="Circuit Test">
		<parameter name="baseURI" value="http://ergast.com" />
		<classes>
			<class name="com.qa.api.tests.CiruitTest" />
		</classes>
	</test>


</suite>
